<header class="header">
  <div class="">
    <center><a href="<%= root_path %>"><%= image_tag "logo#{I18n.locale}.png", height: "100" %></a></center>
  </div>
  
  <%= render "shared/top_menu" %>
</header>